<section class="container">
    <h2>{{title}}</h2>

    <form method="post" action="#" class="form-horizontal row">
        <div class="form-group col-md-10 pull-left">
            <label for="message" class="control-label">Add an item to the list:</label>
            <div class="input-group">
                <input type="text" class="form-control" name="message">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary col-md-2 pull-right">Add</button>
                </span>
            </div>
        </div>
    </form>

    {{#if todoList}}

    <ul class="well list-group">
        {{#each todoList }}

        <li class="row list-group-item">
            <span class="pull-left"><span>{{ @index }}</span> - {{ body }}</span>
            <!--<form method="post" action="#" class="form-horizontal col-md-2 pull-right">
                <button class="btn-danger btn-sm form-control" type="submit" name="delete" value="{{ body }}">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </form>-->
        </li>

        {{/each}}
    </ul>
    {{/if}}
</section>
