<section class="container well row">

    <div class="col-md-12">
        <article class="col-xs-8">
            <h2><a href="/">{{title}}</a></h2>
            <h3>{{subtitle}}</h3>
        </article>

        <aside class="col-xs-3 pull-right">
            {{>lists }}
        </aside>
    </div>
</section>
