{{! Lists view }}
<aside class="col-xs-4">
    <div class="form-group col-xs-12">
        <form method="post" action="#" class="form-horizontal">
            <label for="message" class="control-label">Create a new list</label>
            <div class="input-group">
                <input type="text" class="form-control" name="list">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> </button>
                </span>
            </div>
        </form>
    </div>

    {{#if list}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Go to</h3>
            </div>
            {{#each list }}
                <ul class="nav nav-pills nav-stacked">
                    <li class="col-xs-12">
                        <a href="/list/{{ @index }}" class="col-xs-8">{{ name }}</a>
                        <form method="post" action="#" class="form-horizontal">
                            <button class="btn btn-danger pull-right" type="submit" name="deleteList" value="{{ name }}" title="Delete this list">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </form>
                    </li>
                </ul>

            {{/each}}
        </div>

    {{/if}}
    </article>
    </div>
</aside>