{{! Lists view }}
{{#if list}}
    <div class="panel panel-default row">
        <div class="panel-heading">
            <h3 class="panel-title">Go to</h3>
        </div>
        {{#each list }}
            <ul class="nav nav-pills">
                <li class="list-group-item col-xs-12">
                        <form method="post" action="#" class="form-horizontal pull-right">
                            <a href="/list/{{ @index }}" class="col-xs-8">{{ name }}</a>
                            <button class="btn btn-sm btn-danger" type="submit" name="delete" value="{{ name }}" title="Delete this list">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                        </form>

                </li>
            </ul>


        {{/each}}
    </div>

{{/if}}
</article>
</div>
